@model IEnumerable<Trash_Collector_actual_KD.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Today's Pickups</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var customer in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => customer.Address)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@customer.Id">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
